In [1]:
from dotenv import load_dotenv
import os

load_dotenv()
API_KEY = os.getenv("API_KEY")

In [2]:
import http.client
import pandas as pd
import json

conn = http.client.HTTPSConnection("v3.football.api-sports.io")

headers = {
    'x-rapidapi-host': "v3.football.api-sports.io",
    'x-rapidapi-key': API_KEY
}

'''
ID das ligas que serao usadas:
- Bundesliga (Alemanha): 78
- LALIGA (Espanha): 140
- Campeonato Brasileiro (Brasil): 71
- Ligue 1 (Franca): 61
- Premier League (Inglaterra): 39
'''

ligas = ["78", "140", "71", "61", "39"]

df = pd.DataFrame()

for liga in ligas:
    conn.request("GET", f"/fixtures?season=2023&league={liga}", headers=headers)

    res = conn.getresponse()
    data = res.read()

    data_transformed = json.loads(data)
    df_liga = pd.json_normalize(data_transformed["response"])

    df = pd.concat([df, df_liga])

df.to_csv("df_ligas_completo.csv", index=False)

C:\Users\leona\AppData\Local\Temp\ipykernel_18296\1366082022.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, df_liga])

In [3]:
df.head()

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,goals.home,goals.away,score.halftime.home,score.halftime.away,score.fulltime.home,score.fulltime.away,score.extratime.home,score.extratime.away,score.penalty.home,score.penalty.away
0,1048881,F. Zwayer,UTC,2023-08-18T18:30:00+00:00,1692383400,1692383400,1692387000,755.0,wohninvest WESERSTADION,Bremen,...,0,4,0,1,0,4,NaN,NaN,NaN,NaN
1,1048886,F. Badstübner,UTC,2023-08-19T13:30:00+00:00,1692451800,1692451800,1692455400,752.0,Volkswagen Arena,Wolfsburg,...,2,0,2,0,2,0,NaN,NaN,NaN,NaN
2,1048887,S. Jablonski,UTC,2023-08-19T13:30:00+00:00,1692451800,1692451800,1692455400,724.0,PreZero Arena,Sinsheim,...,1,2,0,2,1,2,NaN,NaN,NaN,NaN
3,1048884,F. Brych,UTC,2023-08-19T13:30:00+00:00,1692451800,1692451800,1692455400,699.0,BayArena,Leverkusen,...,3,2,2,1,3,2,NaN,NaN,NaN,NaN
4,1048888,D. Schlager,UTC,2023-08-19T13:30:00+00:00,1692451800,1692451800,1692455400,698.0,WWK Arena,Augsburg,...,4,4,3,3,4,4,NaN,NaN,NaN,NaN